<form class="day-two-form" #userForm="ngForm" (ngSubmit)="onSubmit()" name="dayTwoForm" novalidate>

  <div layout="row">
      <mat-form-field  class="md-icon-float md-block md-title">
              <input app-number-spaces matInput placeholder="Spreadsheet Row One" name="Row One" [(ngModel)]="rowOne" type="text">
      </mat-form-field>
  </div>  

  <div layout="row">
      <mat-form-field  class="md-icon-float md-block md-title">
              <input app-number-spaces matInput  placeholder="Spreadsheet Row Two" name="Row One" [(ngModel)]="rowTwo" type="text">
      </mat-form-field>
  </div>  

  <div layout="row">
      <mat-form-field  class="md-icon-float md-block md-title">
              <input app-number-spaces matInput placeholder="Spreadsheet Row Three" name="Row One" [(ngModel)]="rowThree" type="text">
      </mat-form-field>
  </div>

  <div class="form-button">
      <button mat-button >Calculate</button>
  </div>

  <app-problem-description [problemNumber]=2></app-problem-description>
</form>