<div style="text-align:center">
  <h1>
    Code Advent
  </h1>
</div>

<mat-tab-group>
  <!--- Can get fancy with routing later if we want, but, for now, the simplest thing that works -->
  <mat-tab label="First"> <app-day-one></app-day-one> </mat-tab>
  <mat-tab label="Second"> <app-day-two></app-day-two> </mat-tab>
  <mat-tab label="Third"> This Page Left Intentionally Blank </mat-tab>
  <mat-tab label="Fourth"> </mat-tab>
  <mat-tab label="Fifth"> </mat-tab>
  <mat-tab label="Sixth"> </mat-tab>
  <mat-tab label="Seventh"> </mat-tab>
  <mat-tab label="Eigth"> </mat-tab>
  <mat-tab label="Ninth"> </mat-tab>
  <mat-tab label="Tenth"> </mat-tab>
  <mat-tab label="Eleventh"> </mat-tab>
  <mat-tab label="Twelfth"> </mat-tab>
  <mat-tab label="Thirteenth"> </mat-tab>
  <mat-tab label="Fourteenth"> </mat-tab>
  <mat-tab label="Fifteenth"> </mat-tab>
  <mat-tab label="Sixteenth"> </mat-tab>
  <mat-tab label="Seventeenth"> </mat-tab>
  <mat-tab label="Eighteenth"> </mat-tab>
  <mat-tab label="Nineteenth"> </mat-tab>
  <mat-tab label="Twentieth"> </mat-tab>
  <mat-tab label="Twenty First"> </mat-tab>
  <mat-tab label="Twenty Second"> </mat-tab>
  <mat-tab label="Twenty Third"> </mat-tab>
  <mat-tab label="Twenty Fourth"> </mat-tab>
  <mat-tab label="Twenty Fifth"> </mat-tab>
  <mat-tab label="Twenty Sixth"> </mat-tab>
</mat-tab-group>




