<form class="day-four-form" #userForm="ngForm" (ngSubmit)="onSubmit()" name="dayFourForm" novalidate>

  <div layout="row">
      <mat-form-field  class="md-icon-float md-block md-title">
              <input matInput placeholder="Pass Phrase" name="Pass Phrase" [(ngModel)]="passPhrase" type="text">
      </mat-form-field>
  </div>  

  <div class="form-button">
      <button mat-button >Is Valid?</button>
  </div>

  <app-problem-description [problemNumber]=4></app-problem-description>
</form>
